 body {
  background-color: lightpink;
}

.buttons {
 display: flex;
 justify-content: center;
 margin-top: 100px;
 margin-bottom: 100px;


}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-shrink: initial;
}
